header {
	font-size: 4em;
	text-align: center;
	margin-top: 0.5em;
	font-family: 'Indie Flower', cursive;
	font-weight: 900;
    text-shadow: 3px 3px #D9B3AD;

}

header #subtitle {
	font-size: 0.7em;
	font-weight: 400;
}

h3 {
    margin: 0;
    font-size: 2.1em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

p {
    font-size: .5em;
    text-align: center;
    font-family: sans-serif;
    color: #D0C8C9;
}

.main {
	margin-top: 1.5em;
	height: 30em;
    background: url('../images/DeathtoStock_NotStock10.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100%;
    border: 1px solid black;
} 

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}

.flex-item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 20em;
    margin: 1em;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    background-color: #FFF;
    box-shadow: inset 0 0 0 1px #D9B3AD;
    opacity: .96;
}

#need-input, #want-input {
    width: 10em;
    height: 1.5em;
    text-align: center;
    padding: 5px;
    border: solid 1px #c9c9c9;
    transition: border 0.3s;  
}

#btn1, #btn2 {
    /*  most of this button is from CSSdeck.com  */
    margin-top: 0.5em;  
    background: #e3e3e3;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px 'Indie Flower', cursive;
    line-height: 1;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 10em; 
    height: 2.5em;
}

#btn1:hover, #btn2:hover {
    background: #F5C6C6;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; 
}

ul {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

li:hover {
     cursor: pointer;
     opacity: .7;
     text-decoration: line-through;
}

.remove-text{
    font-size: 0.8em;
    color: #A88298;
    opacity: .4;
}